/* Import des polices Google et Tailwind avant toute déclaration */
@import url("https://fonts.googleapis.com/css2?family=Revalia&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Déclaration du thème avec variables CSS */
@theme {
  /* Couleurs */
  --color-background: #f4eefc;
  --color-primary: #313628;
  --color-secondary: #6e9075;
  --color-text: #121615;
  --color-error: #9f3714;

  /* Typographies */
  --font-header: "Revalia", sans-serif;
  --font-subHeader: "Roboto Condensed", Arial, Helvetica, sans-serif;
  --font-body: "Roboto Condensed", Arial, sans-serif;
}

/* Style global du body */
body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Classes utilitaires pour les polices */
.revalia-regular {
  font-family: var(--font-header);
  font-weight: 400;
  font-style: normal;
}

.roboto-condensed {
  font-family: var(--font-body);
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Résolution minimale pour garantir un rendu harmonieux */
*,
*::before,
*::after {
  box-sizing: border-box;
}

